{% load static %}
<header class="masthead" style="background-image: url('{% static "img/post-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.sub_title }}</h2>
                    {% if user.is_authenticated and post.author.userprofile %}
                        <span class="meta">Posted by
                          <a href="{% url 'show_profile' post.author.userprofile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                          on {{ post.post_date }}</span>
                    {% else %}
                        <span class="meta">Posted by
                          {{ post.author.first_name }} {{ post.author.last_name }}
                          on {{ post.post_date }}</span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</header>
