{% extends 'base.html' %}
{% load static %}
{% block title %}My Blog | {{ post.title }}{% endblock title %}

{% block site_content %}
    <!-- Page Header -->
    {% include 'common/header_details.html' %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>{{ post.body|safe }}</p>
                    <a href="#">
                        <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
                    </a>
                    <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                    <!-- Edit & Delete -->
                    {% if user.is_authenticated and user.id == post.author.id %}
                        <br/>
                        <hr><br/>
                        <div class="clearfix">
                            <a class="btn btn-primary float-right" href="{% url 'article-delete' post.pk %}">&#8595
                                Delete</a>
                            <a class="btn btn-primary float-left" href="{% url 'article-edit' post.pk %}">&#8593
                                Edit</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
    <hr>

{% endblock site_content %}