{% extends 'base.html' %}
{% load static %}
{% block title %}My Blog | Home {% endblock title %}

{% block site_content %}
    <!-- Page Header -->
    {% include 'common/header_home.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    {% for post in object_list %}
                        <a href="{% url 'article-detail' post.pk %}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.sub_title }}
                            </h3>
                        </a>
                        <p class="text">
                            {{ post.body | slice:":200"|safe }}
                        </p>
                        {% if user.is_authenticated and post.author.userprofile %}
                        <span class="meta">Posted by
                          <a href="{% url 'show_profile' post.author.userprofile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                          on {{ post.post_date }}</span>
                    {% else %}
                        <span class="meta">Posted by
                          {{ post.author.first_name }} {{ post.author.last_name }}
                          on {{ post.post_date }}</span>
                    {% endif %}
                        <hr>
                    {% endfor %}
                </div>
                <!-- Pager -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">First</a>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <hr>
{% endblock site_content %}